body{
    font-family: arial;
    background-color: khaki;
}
.main-heading{
    font-size: 100px; 
}
#second-heading{
    font-size: 40px;
    font-style: italic;
    background-color: darkolivegreen;
}
}